In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [10]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [16]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [17]:
df = next(df_iter)

In [18]:
len(df)

100000

In [19]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [20]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [21]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [22]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 7.49 s, sys: 169 ms, total: 7.66 s
Wall time: 13.5 s

1000

In [26]:
from time import time

In [24]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 13.822 second
inserted another chunk, took 13.696 second
inserted another chunk, took 13.639 second
inserted another chunk, took 13.831 second
inserted another chunk, took 13.716 second
inserted another chunk, took 13.671 second
inserted another chunk, took 13.751 second
inserted another chunk, took 13.722 second
inserted another chunk, took 13.670 second
inserted another chunk, took 13.805 second
inserted another chunk, took 13.696 second

/tmp/ipykernel_4387/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 13.560 second
inserted another chunk, took 8.533 second

StopIteration:

In [25]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-01-11 03:11:48--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 54.230.209.200, 54.230.209.126, 54.230.209.140, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|54.230.209.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-01-11 03:11:48 (166 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [26]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [27]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [28]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [15]:
df = pd.read_csv('yellow_tripdata_2019-10.csv', nrows=100)

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_oct_2019', con=engine))

CREATE TABLE yellow_taxi_oct_2019 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('yellow_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [22]:
df = next(df_iter)

In [23]:
len(df)

100000

In [24]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
df.head(n=0).to_sql(name='yellow_taxi_oct_2019', con=engine, if_exists='replace')

0

In [27]:
%time df.to_sql(name='yellow_taxi_oct_2019', con=engine, if_exists='append')

CPU times: user 8.06 s, sys: 374 ms, total: 8.43 s
Wall time: 14.7 s

1000

In [28]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_oct_2019', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 14.417 second
inserted another chunk, took 14.452 second
inserted another chunk, took 14.420 second
inserted another chunk, took 14.411 second
inserted another chunk, took 14.472 second
inserted another chunk, took 14.407 second
inserted another chunk, took 14.335 second
inserted another chunk, took 14.418 second
inserted another chunk, took 14.416 second
inserted another chunk, took 14.271 second
inserted another chunk, took 14.842 second
inserted another chunk, took 14.545 second
inserted another chunk, took 14.352 second
inserted another chunk, took 14.364 second
inserted another chunk, took 14.858 second
inserted another chunk, took 14.773 second
inserted another chunk, took 14.823 second
inserted another chunk, took 14.389 second
inserted another chunk, took 14.723 second
inserted another chunk, took 14.992 second
inserted another chunk, took 14.533 second
inserted another chunk, took 14.524 second
inserted another chunk, took 14.336 second
inserted another chunk, took 14.525 second
inserted another chunk, took 14.290 second
inserted another chunk, took 14.311 second
inserted another chunk, took 14.405 second
inserted another chunk, took 14.715 second
inserted another chunk, took 14.346 second
inserted another chunk, took 14.403 second
inserted another chunk, took 18.632 second
inserted another chunk, took 26.916 second
inserted another chunk, took 14.446 second
inserted another chunk, took 14.609 second
inserted another chunk, took 15.042 second
inserted another chunk, took 14.738 second
inserted another chunk, took 14.743 second
inserted another chunk, took 14.872 second
inserted another chunk, took 15.208 second
inserted another chunk, took 14.814 second
inserted another chunk, took 14.868 second
inserted another chunk, took 14.492 second
inserted another chunk, took 14.927 second
inserted another chunk, took 14.812 second
inserted another chunk, took 14.631 second
inserted another chunk, took 14.607 second
inserted another chunk, took 14.684 second
inserted another chunk, took 14.591 second
inserted another chunk, took 14.641 second
inserted another chunk, took 14.365 second
inserted another chunk, took 15.414 second
inserted another chunk, took 15.334 second
inserted another chunk, took 14.701 second
inserted another chunk, took 14.638 second
inserted another chunk, took 15.070 second
inserted another chunk, took 14.720 second
inserted another chunk, took 14.754 second
inserted another chunk, took 14.355 second
inserted another chunk, took 14.783 second
inserted another chunk, took 14.499 second
inserted another chunk, took 14.699 second
inserted another chunk, took 14.597 second
inserted another chunk, took 14.879 second
inserted another chunk, took 15.252 second
inserted another chunk, took 15.115 second
inserted another chunk, took 14.500 second
inserted another chunk, took 14.537 second
inserted another chunk, took 14.474 second
inserted another chunk, took 14.560 second
inserted another chunk, took 14.439 second

/tmp/ipykernel_60639/3364728068.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 14.166 second
inserted another chunk, took 1.864 second

StopIteration:

In [30]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"

df_iter = pd.read_csv(url,iterator=True , chunksize=100_000, low_memory=False)

In [31]:
df = next(df_iter)

In [33]:
df.head(n=0).to_sql(name='green_taxi_oct_2019', con=engine, if_exists='replace')

0

In [35]:
print(df.columns)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [36]:
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [38]:
%time df.to_sql(name='green_taxi_oct_2019', con=engine, if_exists='append')

CPU times: user 8.68 s, sys: 68 ms, total: 8.75 s
Wall time: 16 s

1000

In [39]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_oct_2019', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 16.414 second
inserted another chunk, took 16.446 second
inserted another chunk, took 16.481 second
inserted another chunk, took 10.905 second

StopIteration: